{% extends "error/base.html" %}

{% block title %}
    Bad Request
{% endblock %}

{% block content %}
    <div class="error-code m-b-10">400 <i class="fa fa-warning"></i></div>
    <div class="error-content">
        <div class="error-message">Bad Request!</div>
        <div class="error-desc m-b-20">
            The request could not be completed... <br/>
            You may not have the permissions required or incorrect information was submitted.
        </div>
        <div>
            <a href="{{ url_for('main.index') }}" class="btn btn-success">Go Back to Home</a>
        </div>
    </div>
{% endblock %}