<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="intercoolerjs:use-data-prefix" content="true"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favico.ico') }}"/>
    <title>{% block title %}{{ title + ' | ' if title }}{% endblock %}{{ config.SITE_NAME }}</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='error.css') }}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div id="page-container">
        <div class="error">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>